/* nav */
.container-1{
    background-color: #D9DBD1;
    padding: 0 130px;
}
.navbar-nav .nav-link{
    color:black;
}
.navbar-nav{
    gap: 24px;

}

/* hero section */
.container-hero{
    background-color:#D9DBD1;
    padding-left: 130px;
   
    
    
    }
    .hero{
        width: 1440px;
    }
    .made{
        font-size:57px;
        line-height: 64px;
        letter-spacing: -0.25%;
    }
    .chair{
        position: relative;
        z-index: 1;
        margin-left: 430px;
    
    }
    .contant{
        position: absolute;
        z-index: 2;
    }
    .img-hero{
        width: 331px;
        height: 229px;
        position: relative;
        
    }
    .img-text{
        position: absolute;
        margin-top: -100px;
        margin-left: 170px;
        font-style: italic;
    }
    .hero .btn-lg{
        border-radius: 20px;
        background-color: #FEF9F9;
        color: #6750A4;
        border: transparent;
    }
    
    


/* second portion */

.container-2{
    background-color: #F8FAF0;
     column-gap: 20px;
     row-gap: 24px;
     padding-bottom: 120px;
     position: relative;
     
     

}
 .container-2 .row{
    margin-left: 130px;
    margin-right: 130px;
    padding: 24px;
 
    
} 
.container-2 .card{
    width: auto;
    height: auto;
    background-color:#F7F2FA ;
    
}
.container-2 .btn{
    margin-left: 60px;
    margin-top: 24px;
    background-color: #F7F2FA;
    border-color: #79747E;
    color: #6750A4;
    align-items: center;
}
.container-2 .card-title{
    text-align: center;
    
}
.card-text{
    margin-top: 16px;
    text-align: center;
}
.container-2 h1{
    margin-bottom: 64px;
}
/* 3rd section */
.container-3{
    background-color: #D9DBD1;
    height: 700px;
    
}
.row-text{
    margin-top: -200px;
    margin-left: 700px;
}
.row-picture{
    margin-left: 130px;
    margin-top: -130px;
    position: absolute;

}
.container-3 .btn{
    margin-left: 1px;
    color: #6750A4;
}
/* clints section */
.container-4{
    background-color: #9DB97B;
    height:auto;   
    padding:50px 130px;
}
.clints{
    color: #F7F2FA;
    filter: brightness(300%);
}
/* 5th section */
.container-5{
   background-color: #F8FAF0;
   height:auto;
   column-gap: 24px;
   padding: 120px 130px;
}

.container-5 .card{
    background-color: #F7F2FA;
    text-align: center;
    
}
 
.container-5 .btn{
    background-color: #F7F2FA;
    border-color: #79747E;
    color: #6750A4;
    margin-left: 50px;

}
.container-5 .card-text{
    margin-left: -1px;
    margin-top: 16px;
}
.container-5 .btn{
    margin-left: -1px;
}
/* account */
.container-6{
    background-color: #D9DBD1;
    height: auto;
    padding: 100px 130px;
   
    
}
.container-6 .img-text{
    margin-left: 120px;
    position: absolute;
    justify-content: baseline;
    margin-top: -62px;
}
.accout{
    position: relative;
}

 /* .container-6 .accout{
    padding:120px;

} */
/* .accout{
    margin-left:-16px;
} */
/* .container-6 .img-text{
    margin-left: 210px;
    margin-top: -200px;
    margin-bottom: 120px;
    

} */


/* 7th section */
.container-7{
    background-color: #F8FAF0;
    height: auto;
    padding:120px 130px;
}
 .container-7 .img-thumbnail{
    width: 300px;
    height: 300px;     
}
.container-7 .row{
    margin-top: 24px;
}

/* footer section */
 
.container-8{
    background-color: #D9DBD1;
    margin-top: -50px;
}
.container-8 .container{
    margin-left: 120px;
    gap: 120px;
}






    
    
    
    
    
    
    


